@keyframes change {
  0% {
    background: red;
  }
  100% {
    background: yellow;
  }
}

#app4 .circle {
  border: 1px solid grey;
  margin-top: 10vw;
  margin-left: 10vw;
  height: 10vh;
  width: 10vh;
  border-radius: 50%;
}

#app4 .circle.active {
  animation: change 1s infinite linear;
}
